.style4 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.style4 .log-img {
    display: block;
    margin:0 auto;
    padding-top: 30px;
    width: 45%;
}
.style4 .text-content{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fff;
}
.style4 .text-content > div{
    overflow: hidden;
    margin-bottom: 15px;
}
.style4 .text-content .text{
    font-size: 12px;
    text-align: center;
}
.style4 .down-btn{
    display: block;
    margin: 0 auto;
    width: 65%;
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    color: #fff;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #909090;
    text-align: center;
    margin-bottom: 10px;
}