* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
p,
ul,
dl,
dt,
dd,
br,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol {
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    counter-reset: section;
    touch-action: manipulation;
}

/* @media screen and (min-width: 375px) {
    html {
        font-size:100px;
        font-size: 1000vw/37.5
    }
} */
body,
button,
input,
select,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft Yahei";
    outline: 0;
}

body,
html {
    height: 100%;
}

body {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #f7f8fa;
}

button {
    font-size: inherit;
}

input,
textarea {
    -webkit-user-select: auto !important;
    -webkit-touch-callout: inherit !important;
}

:focus {
    outline: none;
}

a,
a:hover,
a:visited,
a:focus,
a:link {
    color: inherit;
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.app {
    position: relative;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    height: 100%;
    background: #fefefe;
}

:root {
    /* 绿色 */
    --green-color: #00cc83;

    /* 深蓝 */
    --dark-blue-color: #132668;

    /* 橙色 */
    --orange-color: #ee7a45;


    --theme1-color: var(--dark-blue-color);
    --theme2-color: var(--green-color);
    --theme3-color: var(--orange-color);

}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.btn {
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    outline: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.btn svg {
    position: absolute;
    left: 20px;
}

.cover {
    position: relative;
    width: 100%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-bottom: 25%;
}

.cover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--theme1);
    opacity: .2;
}

.btn:active {
    opacity: 0.6;
}

.style1 .btn {
    margin: 30px;
    box-shadow: 0 10px 12px -6px #9b9b9b;
}

/* --------------------- theme1 start --------------------- */
.theme1 {
    --theme-color: var(--theme1-color);
}

.theme1 .btn:first-child {
    margin-bottom: 0;
}

.theme1 .btn.ios {
    color: #fff;
}

.theme1 .btn.ios {
    background-color: var(--theme-color);
    color: #fff;
}

.theme1.style1 .btn.android {
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
}

.theme1 .cover {
    background-color: var(--theme-color);
}

.theme1 .cover::after {
    content: '';
    background-color: var(--theme-color);
}

/* --------------------- theme1 end --------------------- */

.theme2 {
    --theme-color: var(--theme2-color);
}

.theme2 .btn.ios {
    background-color: var(--theme-color);
    color: #fff;
}

.theme2.style1 .btn.android {
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
}

.theme2 .cover {
    background-color: var(--theme-color);
}

.theme2 .cover::after {
    content: '';
    background-color: var(--theme-color);
}

/* --------------------- .theme3-color --------------------- */
.theme3 {
    --theme-color: var(--theme3-color);
}

.theme3 .btn.ios {
    background-color: var(--theme-color);
    color: #fff;
}

.theme3.style1 .btn.android {
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
}

.theme3 .cover {
    background-color: var(--theme-color);
}

.theme3 .cover::after {
    content: '';
    background-color: var(--theme-color);
}